<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx_project.mapper.UserMapper">
<!--    <resultMap id="UserResultMap" type="com.xxx_project.pojo.User">-->
<!--        <id column="id" jdbcType="INT" property="id" />-->
<!--        <result column="username" jdbcType="VARCHAR" property="username" />-->
<!--        <result column="password" jdbcType="VARCHAR" property="password" />-->
<!--        <result column="isAdmin" jdbcType="VARCHAR" property="isAdmin" />-->
<!--    </resultMap>-->
    <select id="check"  parameterType="java.lang.String" resultType="java.util.HashMap">
    select * from user_info
    where account = #{account}
    and password=#{password}
    and isAdmin=#{isAdmin}
    </select>
    <insert id="register"  parameterType="java.lang.String">
    INSERT into user_info (account,password,phone,command) VALUE (#{account},#{password},#{phone},#{command})
    </insert>
    <select id="login"  parameterType="java.lang.String" resultType="java.util.HashMap">
    select * from user_info
    where account = #{account}
    and password=#{password}
    </select>
    <update id="updatePassword" parameterType="java.lang.String">
        update user_info set password=#{new_password}
        where account = #{account}
        and password=#{password}
    </update>
    <update id="updatePasswordByPhone" parameterType="java.lang.String">
        update user_info set password=#{new_password}
        where account = #{account}
        and phone=#{phone}
    </update>
</mapper>