<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx_project.mapper.UserMapper">
<!--    <resultMap id="UserResultMap" type="com.xxx_project.pojo.User">-->
<!--        <id column="id" jdbcType="INT" property="id" />-->
<!--        <result column="username" jdbcType="VARCHAR" property="username" />-->
<!--        <result column="password" jdbcType="VARCHAR" property="password" />-->
<!--        <result column="isAdmin" jdbcType="VARCHAR" property="isAdmin" />-->
<!--    </resultMap>-->
    <select id="check"  parameterType="java.lang.String" resultType="java.util.HashMap">
    select * from user
    where username = #{username}
    and password=#{password}
    and isAdmin=#{isAdmin}
    </select>
    <insert id="InsertNewUser"  parameterType="java.lang.String">
    INSERT into user (username,password,phone) VALUE (#{username},#{password},#{phone})
    </insert>
</mapper>